name: Checks
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-latest          # use ubuntu-latest (try this if your runner was waiting)
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: docker compose build

      - name: Run tests
        run: docker compose run --rm app sh -c "python manage.py test"

      - name: Lint
        run: docker compose run --rm app sh -c "flake8"
